.loading-component {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    animation: blink 2s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
